/*
CSS file for auction
*/
#auction-show
{
    display: block;
    width: 780px;
    font-size: 12px;
}
.auction-right-content
{
    float: right;
    width: 580px;
}
.auction-left-nav
{
    float: left;
    width: 175px;
}
.formRow
{
    margin-bottom: 10px;
    font-size: 11.5px;
}
.auction-shaded-box
{
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #f4f4f4;
    padding: 10px;
}
.auction-left-nav-section
{
}
.auction-image
{
}
.auction-title
{
    font-weight: bold;
    font-size: 18px;
}
.auction-subtitle
{
    font-size: 13px;
}
.auction_item_pics_area
{
    float: left;
    width: 500px;
}
.auction-bid-area
{
    float: left;
    width: 280px;
}
.auction-form-label
{
    float: left;
    width: 125px;
}
.auction-form-field
{
    margin-left: 120px;
}
#auction-right-hand-box
{
    float: right;
    width: 160px;
}
#auction-admin-links
{
    margin-bottom: 30px;
    text-align: center;
}
#auction-category-links
{
    margin-bottom: 30px;
    text-align: center;
}
#ai-categories-links
{
    margin: 0 auto;
    width: 137px;
}
.auction-menu-items
{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.auction-menu-items li
{
    border-bottom: 1px solid #b7b7b7;
    line-height: 18px;
}
.auction-left-nav-section ul
{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.auction-left-nav-section li
{
    line-height: 18px;
}
.auction-listbox-title
{
    font-weight: bold;
    margin-bottom: 4px;
    padding: 3px 0;
    background-color: #59b;
    color: White;
}
.auction-item-section
{
    overflow: hidden;
    width: 780px;
    line-height: 18px;
    margin-top: 20px;
}
.ai_description
{
    padding: 5px 5px 0 15px;
}
.admin_panel
{
    background-color: #eee;
    border: 1px solid #b7b7b7;
    padding: 5px;
    margin-top: 20px;
    width: 780px;
}
.auction-add-new-item
{
    padding-bottom: 10px;
}
.auction-add-new-item-bottom
{
    padding-top: 10px;
}
.admin_panel_auction-title
{
    font-weight: bold;
    font-size: 14px;
}
.admin_panel_row
{
    padding: 5px 5px 0 15px;
}
.page_auction-title
{
    margin-bottom: 15px;
}
.auction_item_page
{
    display: block;
    width: 780px;
    font-size: 12px;
}
#ai-pics-box
{
    width: 320px;
    float: left;
    margin: 0 20px 20px 0;
}
.clear
{
    clear: both;
}
.auction-return-link
{
    float: right;
    text-align: right;
    width: 135px;
}
.auction-return-link-bottom
{
    margin-top: 10px;
}
.auction-time
{
    float: right;
    text-align: right;
    padding: 0 10px 10px 0;
}
.auction-item-grid-picture
{
    width: 160px;
}
.auction-time
{
    float: right;
    text-align: right;
    padding: 0 10px 10px 0;
}
.auction-item-grid-title
{
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
}
.auction-item-grid-subtitle
{
    font-size: 12px;
}
.auction-item-grid-value
{
    text-align: right;
}
.auction-bid-box
{
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    padding-top: 10px;
}
.auction-button
{
}
.auction-form-hint
{
    font-size: 10px;
    font-style: italic;
}
.auction-bid-currency-symbol
{
    margin-right: 4px;
}
.auction-form-leading, .auction-form-won
{
    color: red;
    font-weight: bold;
    text-align: center;
}
